.b-box{
  width: 100%;
  box-sizing: border-box;
  &__i{
    position: relative;
    .clearfix();
  }
  &__elem{
    position: relative;
    cursor: pointer;
    //outline: 1px solid @c-black;
    float: left;
    &_x{
      width: 270px;
    }
    &_x2{
      width: 540px;
    }
    &:hover{
      .b-box__text{
        display: block;
      }
    }
  }
  &__img{
    display: block;
    position: relative;
    width: 100%;
    img{
      width: 100%;
    }
  }
  &__text{
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left:0;
    &-block{
      display: block;
      position: absolute;
      width: 100%;
      height: max-content;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__title{
    display: block;
    text-align: center;
    color: @c-black;
  }
  &__subtitle{
    display: block;
    text-align: center;
    color: @c-black;
  }
}