.b-top-menu{
  &__i{
    box-sizing: border-box;
    padding-top: 60px;
    .clearfix();
  }
  &__elem{
    width: 25%;
    float: left;
    text-align: center;
    &:first-child{
      text-align: right;
    }
    &:last-child{
      text-align: left;
    }
  }
}