doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" type="image/png" href="favicon.png")
        link(rel="apple-touch-icon" href="apple-touch-favicon.png")
    body
        include ../blocks/header

        block content
        // Scripts
        script(src="js/common.js")