// Normalize.css
@import (less) "../../node_modules/normalize-css/normalize.css";
// Imports
@import (less) "config.less";

// EXAMPLE CODE
.pw {
  padding: 0;
  &__i {
    max-width: 1200px;
    margin: 0 auto;
  }
}

a{
  color: @c-black;
  text-decoration: none;
}