.b-box
    .b-box__i
        for item in items
            .b-box__elem.b-box__elem_x
                .b-box__img
                    img(src="/pictures/works/"+item.img)
                .b-box__text(style='background: '+item.color)
                    .b-box__text-block
                        .b-box__title!=item.title
                        .b-box__subtitle!=item.subtitle