header.b-header
    .b-header__i
        a(href='/' title="To main page")
            img.b-logo(src="/pictures/logo.png")
        .b-top-menu.b-top-menu__i
            for menu in topMenu
                .b-top-menu__elem
                    a.b-link.b-link_menu(href=menu.link)!=menu.name